
button, input[type=submit] {
	border: 0;
	font-size: 1em;
	padding: 0.7em 2em 0.7em 2em;
	border-radius: 0.3em;
	box-shadow: 1px 1px 3px gray;
}

button:hover, input[type=submit]:hover {
	cursor: pointer;
}

input[type=submit].button-primary {
	background-color: 	#568203;
	color: white;
}